@import "bootstrap-solar-theme.min.css";
@import "spinner.css";
@import "small-spinner.css";

.noNews {
    margin: auto;
    font-size: 24px;
    color: #00A388;
}

// Header start
header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    $form-input-width: 700px;

    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        width: 100%;
        padding: 10px 15px;
    }

    .navbar-brand {
        font-size: 24px;
    }

    .nav-item {
        font-size: 20px;
    }

    .navbar-collapse {
        flex-grow: 0;
    }

    .form-inline {
        margin-right: 70px;
    }

    .form-control {
        min-width: $form-input-width;

        &:focus {
            box-shadow: none;
            border-color: rgba(0,0,0,.15);
        }
    }

    .search-news-form {
        position: relative;
    }

    .searching-list {
        position: absolute;
        top: 95%;
        left: 0;
        max-width: $form-input-width;
        right: 0;
        z-index: 102;
        padding-left: 0;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0 0 17px 17px;
        border-top: none;

        .active {
            background-color: #476886;
            color: #fff;
        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 5px 12px;
            transition: .2s;
            font-size: 16px;
            color: #000;
            cursor: pointer;
            background-color: #a9bdbd;

            img {
                width: 32px;
                height: 22px;
            }

            .hint {
                font-size: 11px;
                font-style: italic;
                color: #826d1e;
                transition: .2s;
            }

            &:last-child {
                border-radius: 0 0 7px 7px;
            }
        }

        li.active .hint {
            color: #fff;
        }
    }
}
// Header end

// Modal start

// Modal left button
.show-modal-wrapper {
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 100;
    cursor: pointer;
    background-color: #b78c08;
    padding: 10px 12px;
    border-radius: 0 10px 10px 0;
    color: #fff;
    font-size: 18px;
    animation: modal-btn 2s infinite linear alternate;

    &:hover {
        animation-play-state: paused;
    }
}

.show-modal {
    width: 0.7em;
    text-align: center;
    word-wrap: break-word;
}

@keyframes modal-btn {
    0% {
        background-color: #c78f09;
        color: #c2c2c2;
    }
    100% {
        background-color: #6b5603;
        color: #fff;
    }
}

// Modal window
.modal {
    .card {
        min-width: 500px;
        border-radius: 10px;
        z-index: 1100;

        .close-icon-modal {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 26px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: #c9c9c9;
            }
        }

        #country-form {
            padding-bottom: 17px;
        }

        #source-form {
            padding-top: 10px;
            border-top: 1px solid #8c9a9a;
        }

        button[type="submit"] {
            margin-top: 15px;
            padding: 5px 20px;
            width: 30%;
        }
    }

    .modal-content {
        border-radius: 10px;
        background-color: transparent;
        border: none;
    }

    .category {
        margin-top: 10px;
    }
}

// Modal end

// Main start
main {
    padding-top: 105px;
}

.news-container {
    $card-border-radius: 7px;

    .col-4 {
        display: flex;
    }

    .col-4:nth-child(n + 4) {
        margin-top: 30px;
    }

    .no-news {
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .card.news-item {
        border-radius: $card-border-radius;
        border: none;
        transition: .3s;
        overflow: hidden;
        position: relative;
        flex-grow: 1;

        &:hover {
            box-shadow: 0 0 10px 10px rgba(8, 96, 111, 0.83);
        }

        .description {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            opacity: 0;
            transition: .3s;
            overflow: auto;
            border-radius: $card-border-radius;

            &.show {
                opacity: 1;
            }

            .title {
                font-size: 18px;
                padding: 10px 25px;
                border-bottom: 1px solid #c1bdbd;
                text-align: center;
                margin-bottom: 0;
                line-height: 1.4em;
                color: #002B36;
            }

            .content {
                padding: 15px;
                font-size: 16px;
                margin-bottom: 0;
                line-height: 1.4em;
                color: #07323f;
            }
        }

        .close-description-icon {
            position: absolute;
            top: 15px;
            right: 5px;
            font-size: 25px;
            line-height: 0;
            cursor: pointer;
            transition: .3s;
            opacity: 0;
            z-index: 7;

            &:hover {
                color: #b40000;
            }

            &.show {
                opacity: 1;
            }
        }

        .card-header {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            position: relative;
            z-index: 10;
            padding: 0;
            border-radius: $card-border-radius $card-border-radius 0 0;
            background-color: transparent;
            transition: .5s;
        }

        .card-title {
            font-size: 16px;
            padding: 10px 10px 7px 10px;
            margin-bottom: 0;
            text-align: center;
            line-height: 1.4em;
        }

        .news-info {
            padding: 0 10px;
            margin-top: auto;
            margin-bottom: 2px;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            font-style: italic;
            color: #d2d1d1;

            a {
                color: #d2d1d1;

                &:hover {
                    color: #fff;
                }
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 190px;
        }

        // card body
        .card-body {
            flex: 0 1 auto;
            position: relative;
            z-index: 10;
            padding: 15px 10px;
            background-color: rgba(7,54,66,.25);
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: .5s;
        }

        .btn-primary + .btn-primary {
            margin-left: 5px;
        }

        a {
            cursor: pointer;
        }

        .right {
            font-size: 27px;
            vertical-align: middle;
        }

        #copy-text {
            display: none;
        }

        .fa-copy {
            margin-right: 5px;
            cursor: pointer;
            color: #9a9a9a;
            transition: .3s;

            &:hover {
                color: #fff;
            }
        }

        .far.fa-heart,
        .fas.fa-heart {
            color: #a00a0a;
            cursor: pointer;
            transition: .3s;
        }
    }
}

.show-description {
    .card-header {
        transform: translate(0, -100%);
    }

    .card-body {
        transform: translate(0, 100%);
    }
}
// Main end

// Alert start
.alert {
    max-width: 330px;
    min-width: 250px;
    padding: 0;
    margin-bottom: 0;
    position: fixed;
    right: 50px;
    bottom: 45%;
    border-radius: 10px;
    z-index: 1000;

    &:hover {
        animation-play-state: paused;
    }

    button.close {
        padding: 10px;
    }

    .alert-header {
        font-size: 26px;
        border-bottom: 1px solid black;
        padding: 10px 25px;
        margin-bottom: 0;
    }

    .alert-content {
        padding: 15px 25px;
        font-size: 16px;
        margin-bottom: 0;
    }
}
// Alert end

// Sign in and register form start

.nav.nav-tabs,
.tab-content {
    max-width: 450px;
    margin: auto;
}

.nav.nav-tabs {
    $border-radius: 10px;
    $bg-color: #b58900d1;
    justify-content: space-between;
    border-radius: $border-radius $border-radius 0 0;
    border: none;
    background-color: #b58900d1;
    border-bottom: 1px solid #c1c1c1;

    .nav-item {
        flex-grow: 1;
        text-align: center;
        margin-bottom: 0;

        a {
            color: #c1c1c1;
            transition: .2s;
        }
    }

    .nav-item:first-child .nav-link {
        border-radius: $border-radius 0 0 0;
    }

    .nav-item:last-child .nav-link {
        border-radius: 0 $border-radius 0 0;
    }

    .nav-link {
        background-color: rgba(100, 77, 0, 0.82);
        border: none;

        &:hover {
            background-color: rgba(100, 77, 0, 0.47);
            color: #fff;
        }

        &.active {
            background-color: transparent;
            color: #fff;
        }
    }
}

.tab-content {
    .card {
        border: none;
        background-color: transparent !important;

        .card-body {
            border-radius: 0 0 10px 10px;
            background-color: #b58900d1;
        }
    }

    .form-check {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        font-size: 15px;
        color: #b2b2b2;
    }

    .check-box-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;

        .form-check-input {
            position: static;
            margin: 0 7px 0 0;
        }
    }

    a {
        color: #b2b2b2;

        &:hover {
            color: #fff;
        }
    }

    .submit-form-btn {
        padding: 7px 25px;
    }
}
// Sign in and register form end







