<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">News api</a>
            <div class="collapse navbar-collapse">

                {{#if isSearchNews}}
                    <form class="form-inline my-2 my-lg-0 search-news-form">
                        <input class="form-control mr-sm-2" type="text" placeholder="Type country, news resource or query">
                        <ul class="searching-list">
                        </ul>
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <!--/search-news-form-->
                {{/if}}

                <ul class="navbar-nav">
                    <!--home-->
                    {{#if isHome}}
                        <li class="nav-item active main"><a class="nav-link" href="/">Main</a></li>
                    {{else}}
                        <li class="nav-item"><a class="nav-link" href="/">Main</a></li>
                    {{/if}}
                    <!--favorite news-->
                    {{#if isFavorite}}
                        <li class="nav-item active favorite-news"><a class="nav-link" href="/favorite-news">Favorite news</a></li>
                    {{else}}
                        <li class="nav-item favorite-news"><a class="nav-link" href="/favorite-news">Favorite news</a></li>
                    {{/if}}
                    <!--login-->
                    {{#if isLogin}}
                        <li class="nav-item active login"><a class="nav-link" href="/login">Login</a></li>
                    {{else}}
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    {{/if}}
                </ul>
                <!--/search-news-form-->
            </div>
            <!--/collapse navbar-collapse-->
        </div>
        <!--/container-fluid-->
    </nav>
</header>