{{> head}}

<body>
    {{> navbar}}

    <main>

        {{> modal}}

        <div class="container">
            <div class="row news-container">
                {{{ body }}}
            </div>
            <!--/row-->
        </div>
        <!--/container-->

    </main>

</body>

{{> footer}}

</body>
</html>