{{> head}}

<body>
    {{> navbar}}

    <main>

        {{> modal}}

        <div class="container">
            {{{ body }}}
        </div>
        <!--/container-->

    </main>

</body>

{{> footer}}

</body>
</html>