{{> head}}
<body>
    {{> navbar}}
    <main>
        {{> modal}}
        <div class="news-img-block">
            <div class="news-img-block-inner">
            </div>
            <!--/news-img-block-inner-->
        </div>
        <!--/news-img-block-->
        <div class="container">
            <div class="row news-container">
                {{{ body }}}
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </main>
</body>
{{> footer}}
</body>
</html>