<div class="col-12 align-self-center">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#sign-in" role="tab" aria-controls="home" aria-selected="true">Sign in</a>
        </li>
        <!--/nav-item-->
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#register" role="tab" aria-controls="profile" aria-selected="false">Register</a>
        </li>
        <!--/nav-item-->
    </ul>
    <!--/nav nav-tabs-->

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="sign-in" role="tabpanel" aria-labelledby="home-tab">
            <div class="card sign-in-form text-white bg-primary">
                <div class="card-body">
                    <form action="" id="login-form">
                        <div class="form-group">
                            <label for="sign-in-email">Email address</label>
                            <input type="email" class="form-control" id="sign-in-email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <!--/form-group-->
                        <div class="form-group">
                            <label for="sign-in-password">Password</label>
                            <input type="password" class="form-control" id="sign-in-password" name="password" placeholder="Password">
                        </div>
                        <!--/form-group-->
                        <fieldset class="form-group">
                            <div class="form-check">
                                <div class="check-box-wrapper">
                                    <input class="form-check-input" id="check-box-remember-me" type="checkbox" value="" checked="">
                                    <label class="form-check-label" for="check-box-remember-me">
                                        Remember me
                                    </label>
                                </div>
                                <a href="">Forgot password?</a>
                            </div>
                            <!--/form-check-->
                        </fieldset>
                        <!--/form-group-->
                        <button type="submit" class="btn btn-primary submit-form-btn">Submit</button>
                    </form>
                    <!--/form-->
                </div>
                <!--/card-body-->
            </div>
            <!--/card-->
        </div>
        <!--/tab-pane-->
        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card sign-in-form text-white bg-primary">
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="sign-up-name">Name</label>
                            <input type="text" class="form-control" id="sign-up-name" name="name" aria-describedby="emailHelp" placeholder="Enter name">
                        </div>
                        <!--/form-group-->
                        <div class="form-group">
                            <label for="sign-up-email">Email address</label>
                            <input type="email" class="form-control" id="sign-up-email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="sign-up-email-help" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <!--/form-group-->
                        <div class="form-group">
                            <label for="sign-up-password">Password</label>
                            <input type="password" class="form-control" id="sign-up-password" name="password" placeholder="Password">
                        </div>
                        <!--/form-group-->
                        <button type="submit" class="btn btn-primary submit-form-btn">Submit</button>
                    </form>
                    <!--/form-->
                </div>
                <!--/card-body-->
            </div>
            <!--/card-->
        </div>
        <!--/tab-pane-->
    </div>
    <!--/ul nav-tabs-->
</div>
<!--/col-12-->
