<div class="col-6 m-auto">
    <div class="card reset-form text-white bg-primary">
        <div class="card-header">
            <h1 class="reset-form-title">Change password</h1>
        </div>
        <!--/card-header-->
        <div class="card-body">
            <form action="" id="reset-password-form">
                <div class="form-group">
                    <label for="reset-password">New password</label>
                    <div class="password-wrapper">
                        <input type="password"
                               class="form-control"
                               id="reset-password"
                               name="password"
                               aria-describedby="emailHelp"
                               placeholder="Enter new password"
                               autofocus
                        >
                        <i class="fas fa-eye"></i>
                    </div>
                    <!--/password-wrapper-->
                </div>
                <!--/form-group-->
                <button type="submit" class="btn btn-primary submit-form-btn"
                        data-user-id="{{userId}}"
                        data-token="{{token}}"
                >Change password</button>
            </form>
            <!--/form-->
        </div>
        <!--/card-body-->
    </div>
    <!--/card-->
</div>
<!--/col-12-->
