<div class="col-6 m-auto">
    <div class="card reset-form text-white bg-primary">
        <div class="card-header">
            <h1 class="reset-form-title">Forgot password</h1>
        </div>
        <!--/card-header-->
        <div class="card-body">
            <form action="" id="reset-form" novalidate>
                <div class="form-group">
                    <label for="reset-email">Email address</label>
                    <input type="email"
                           class="form-control"
                           id="reset-email"
                           name="email"
                           aria-describedby="emailHelp"
                           placeholder="Enter email"
                           autofocus
                    >
                </div>
                <!--/form-group-->
                <button type="submit" class="btn btn-primary submit-form-btn  reset-password-btn">
                    Reset
                </button>
            </form>
            <!--/form-->
        </div>
        <!--/card-body-->
    </div>
    <!--/card-->
</div>
<!--/col-6-->
