<div class="col-12 align-self-center">
    <div class="tab-pane fade show active" id="sign-in" role="tabpanel" aria-labelledby="home-tab">
        <div class="card sign-in-form text-white bg-primary">
            <div class="card-body">
                <form action="" id="reset-form">
                    <div class="form-group">
                        <label for="reset-email">Email address</label>
                        <input type="email" class="form-control" id="reset-email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <!--/form-group-->
                    <button type="submit" class="btn btn-primary submit-form-btn">Reset</button>
                </form>
                <!--/form-->
            </div>
            <!--/card-body-->
        </div>
        <!--/card-->
    </div>
    <!--/tab-pane-->
</div>
<!--/col-12-->
